@import "../../scss/variables";

.am-container {
  grid-column: 9 / 12;
  grid-row: 4 / 8;
  padding: 0px 40px;
  position: relative;
  display: grid;
  place-items: center;

  .am-form {
    position: relative;
    width: 100%;
    height: 100%;
    border: $gray-border;
    border-radius: 4px;
    box-shadow: 0px 0px 18px -1px #2e2e2e;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 30px;

    h3 {
      position: relative;
      margin-left: 20px;
      color: black;
    }
    h3 i {
      color: $red;
      margin-right: 12px;
      font-size: $font-lg;
    }

    .am-input-container {
      display: flex;
      flex-direction: column;
      align-items: center;

      .am-dropdown {
        position: relative;
        margin-bottom: 20px;
        .am-option {
          border: 1px solid gray;
          border-radius: 4px;
          background: $whiteshade;
          padding: 4px 23px;
          font-size: $font-sm;
        }
      }
      .amount {
        position: relative;
        margin-bottom: 20px;
        .am-input {
          border: 1px solid gray;
          border-radius: 4px;
          background: $whiteshade;
          padding: 4px 8px;
          font-size: $font-sm;
        }
        .am-input:focus {
          border: 1px solid $red;
        }
      }

      .am-btn {
        position: relative;
        padding: 4px 12px;
        border-radius: 4px;
        font-size: $font-med;
        color: $red;
        cursor: pointer;
        transition: transform 0.2s;
      }
      .am-btn:active {
        transform: translateY(3px);
      }
    }
  }
  .am-form::before {
    position: absolute;
    content: "";
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.25;
  }
}
