@import "./scss/variables";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
  font-family: $montserrat;
}

input,
button {
  appearance: none;
  background: none;
  border: none;
  outline: none;
}
